<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
		title Document
		link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet")
		link(rel="stylesheet" href="css/owl.carousel.css")
		link(rel="stylesheet" href="css/owl.theme.default.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.container
			include header
			nav.menu.menu_navigation
				ul.menu__items.menu__items_navigation
					.menu-open
						.menu-open__global.menu-open__global_top
						.menu-open__global.menu-open__global_middle
						.menu-open__global.menu-open__global_bottom
					li.menu__item.menu__item_navigation
						a.menu__link.menu__link_navigation(href="#") По вредителям
						ul.menu__items_2
							li.menu__item_2
								a.menu__link(href="#") Ссылка
							li.menu__item_2
								a.menu__link(href="#") Ссылка
							li.menu__item_2
								a.menu__link(href="#") Ссылка
					li.menu__item.menu__item_navigation
						a.menu__link.menu__link_navigation(href="#") По виду продукции
						ul.menu__items_2
							li.menu__item_2
								a.menu__link(href="#") Ссылка
							li.menu__item_2
								a.menu__link(href="#") Ссылка
							li.menu__item_2
								a.menu__link(href="#") Ссылка
					li.menu__item.menu__item_navigation
						a.menu__link.menu__link_navigation(href="#") По брендам
						ul.menu__items_2
							li.menu__item_2
								a.menu__link(href="#") Ссылка
							li.menu__item_2
								a.menu__link(href="#") Ссылка
							li.menu__item_2
								a.menu__link(href="#") Ссылка
					li.menu__item.menu__item_navigation
						a.menu__link.menu__link_navigation(href="#") Аксессуары
						ul.menu__items_2
							li.menu__item_2
								a.menu__link(href="#") Ссылка
							li.menu__item_2
								a.menu__link(href="#") Ссылка
							li.menu__item_2
								a.menu__link(href="#") Ссылка
					li.menu__item.menu__item_navigation
						a.menu__link.menu__link_navigation(href="#") Акции
					li.menu__item.menu__item_navigation
						a.menu__link.menu__link_navigation(href="#") База знаний
			section.block.clearfix
				.question
					a(href="#").question__block
						.question__icon
							svg(width="21" height="23" viewBox="0 0 21 23").question__img-block
								path(d="M63.5,223L53,228v13l10.5,5L74,241V228Zm-1.528,10.684L62,242l-6-3v-8ZM71,231v8l-6,3,0.028-8.316Zm-2.406-2.308L63.5,231.016l-5.1-2.324,5.1-2.324Z" transform="translate(-53 -223)").question__img
						.question__about
							h3.question__title Оптовикам
							p.question__text Приглашаем к сотрудничеству организации и физических лиц для работы в качестве наших дилеров или торговых представителей.
					a(href="#").question__block
						.question__icon
							svg(width="15" height="24" viewBox="0 0 15 24").question__img-block
								path(d="M62,365.99h4v-3a2.165,2.165,0,0,1,1.071-2.2c1.036-.693,3.928-2.1,3.928-5.8a7.191,7.191,0,0,0-5.591-6.782,7.334,7.334,0,0,0-7.282,2.01C56.37,352.188,56,353.56,56,356.99h4l-0.062-.615c0-1.828.207-3.757,2.765-4.285a3.854,3.854,0,0,1,3.482.935,2.664,2.664,0,0,1-.52,3.877l-2.22,1.542C62.15,359.292,62,360.6,62,361.99v4Zm0,6v-4h4v4H62Zm1.678-2.071" transform="translate(-56 -348)").question__img
						.question__about
							h3.question__title Задать вопрос
							p.question__text Если у вас возникли вопросы, то наши эксперты «REST 911» обязательно ответят на них!
					a(href="#").question__block
						.question__icon
							svg(width="15" height="18" viewBox="0 0 15 18").question__img-block
								path(d="M58,461v18l15-9Z" transform="translate(-58 -461)").question__img
						.question__about
							h3.question__title Видео
							p.question__text Полезные советы по борьбе с вредителями в саду, дома и на производстве.
				.slider
					.owl-carousel.owl-theme#slider
						.slider__item
							img(src="image/slider.jpg", alt="").slider__img
						.slider__item
							img(src="", alt="slider 2").slider__img
						.slider__item
							img(src="", alt="slider3").slider__img
					.owl-arow#slider-arow
					.owl-btn#slider-btn
					.arow.slider__arow_prev.slider__arow_prev_nav
						svg(width="15" height="42").arow__block
							polyline(points="15,0 1,21 15,42").arow__line.arow__line_white
					.arow.slider__arow_next.slider__arow_next_nav
						svg(width="15" height="42").arow__block
							polyline(points="15,0 1,21 15,42").arow__line.arow__line_white
			section.block
				.menu.menu_product
					ul.menu__items.menu__items_product
						li.menu__item.menu__item_product
							a.menu__link.menu__link_product.menu__link_product_open(href="#") Новинки
							.product.product_open
								.owl-carousel.owl-theme#carousel-1
									mixin product(number, img, name, cost)
										div(class="product__item product__item_#{number}")
											a.product__block(href="")
												.product__img-block
													img(src="image/#{img}").product__img
												p.product__name= name
												p.product__cost
													span.product__cost_bold= cost
													|  руб.
									+product("1", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "11 111")
									+product("1", "product2.png", "Крысоловка Swissinno SuperCat", "3 200")
									+product("1", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "19 890")
									+product("1", "product4.png", "Victors Электронный уничтожитель грызунов", "2 850")
									+product("1", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "19 890")
									+product("1", "product2.png", "Крысоловка Swissinno SuperCat", "3 200")
									+product("1", "product4.png", "Victors Электронный уничтожитель грызунов", "2 850")
								.owl-arow#arow-1
								.arow.product__arow_prev.product__arow_prev_1
									svg(width="15" height="42").arow__block
										polyline(points="15,0 1,21 15,42").arow__line.arow__line_gray
								.arow.product__arow_next.product__arow_next_1
									svg(width="15" height="42").arow__block
										polyline(points="15,0 1,21 15,42").arow__line.arow__line_gray
						li.menu__item.menu__item_product
							a.menu__link.menu__link_product(href="#") Рекомендуем
							.product
								.owl-carousel.owl-theme#carousel-2
									+product("2", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "22 222")
									+product("2", "product2.png", "Крысоловка Swissinno SuperCat", "3 200")
									+product("2", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "19 890")
									+product("2", "product4.png", "Victors Электронный уничтожитель грызунов", "2 850")
									+product("2", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "19 890")
									+product("2", "product2.png", "Крысоловка Swissinno SuperCat", "3 200")
									+product("2", "product4.png", "Victors Электронный уничтожитель грызунов", "2 850")
								.owl-arow#arow-2
								.arow.product__arow_prev.product__arow_prev_2
									svg(width="15" height="42").arow__block
										polyline(points="15,0 1,21 15,42").arow__line.arow__line_gray
								.arow.product__arow_next.product__arow_next_2
									svg(width="15" height="42").arow__block
										polyline(points="15,0 1,21 15,42").arow__line.arow__line_gray
						li.menu__item.menu__item_product
							a.menu__link.menu__link_product(href="#") Хиты продаж
							.product
								.owl-carousel.owl-theme#carousel-3
									+product("3", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "33 333")
									+product("3", "product2.png", "Крысоловка Swissinno SuperCat", "3 200")
									+product("3", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "19 890")
									+product("3", "product4.png", "Victors Электронный уничтожитель грызунов", "2 850")
									+product("3", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "19 890")
									+product("3", "product2.png", "Крысоловка Swissinno SuperCat", "3 200")
									+product("3", "product4.png", "Victors Электронный уничтожитель грызунов", "2 850")
								.owl-arow#arow-3
								.arow.product__arow_prev.product__arow_prev_3
									svg(width="15" height="42").arow__block
										polyline(points="15,0 1,21 15,42").arow__line.arow__line_gray
								.arow.product__arow_next.product__arow_next_3
									svg(width="15" height="42").arow__block
										polyline(points="15,0 1,21 15,42").arow__line.arow__line_gray
						li.menu__item.menu__item_product
							a.menu__link.menu__link_product(href="#") Акции
							.product
								.owl-carousel.owl-theme#carousel-4
									+product("4", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "44 444")
									+product("4", "product2.png", "Крысоловка Swissinno SuperCat", "3 200")
									+product("4", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "19 890")
									+product("4", "product4.png", "Victors Электронный уничтожитель грызунов", "2 850")
									+product("4", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "19 890")
									+product("4", "product2.png", "Крысоловка Swissinno SuperCat", "3 200")
									+product("4", "product4.png", "Victors Электронный уничтожитель грызунов", "2 850")
								.owl-arow#arow-4
								.arow.product__arow_prev.product__arow_prev_4
									svg(width="15" height="42").arow__block
										polyline(points="15,0 1,21 15,42").arow__line.arow__line_gray
								.arow.product__arow_next.product__arow_next_4
									svg(width="15" height="42").arow__block
										polyline(points="15,0 1,21 15,42").arow__line.arow__line_gray
						li.menu__item.menu__item_product
							a.menu__link.menu__link_product(href="#") Бренды
							.product
								.owl-carousel.owl-theme#carousel-5
									+product("5", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "55 555")
									+product("5", "product2.png", "Крысоловка Swissinno SuperCat", "3 200")
									+product("5", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "19 890")
									+product("5", "product4.png", "Victors Электронный уничтожитель грызунов", "2 850")
									+product("5", "product1.png", "«Коготь» SuperCat Ловушка для мышей", "19 890")
									+product("5", "product2.png", "Крысоловка Swissinno SuperCat", "3 200")
									+product("5", "product4.png", "Victors Электронный уничтожитель грызунов", "2 850")
								.owl-arow#arow-5
								.arow.product__arow_prev.product__arow_prev_5
									svg(width="15" height="42").arow__block
										polyline(points="15,0 1,21 15,42").arow__line.arow__line_gray
								.arow.product__arow_next.product__arow_next_5
									svg(width="15" height="42").arow__block
										polyline(points="15,0 1,21 15,42").arow__line.arow__line_gray
			section.block.top
				h2.block__title Топ вредителей
				.top__wrap
					mixin top(href, img, title)
						a(href="#{href}").top__item
							img(src="image/#{img}" alt="").top__img
							.question__title= title
					+top("#", "top1.png", "Комары")
					+top("#", "top2.png", "Тараканы")
					+top("#", "top3.png", "Грызуны")
					+top("#", "top4.png", "Птицы")
					+top("#", "top5.png", "Мыши")
					+top("#", "top6.png", "Крысы")
			section.block.info
				.block__wrap.video
					h2.block__title Видео
					.video__block
						iframe(width="380px" height="215px" src="https://www.youtube.com/embed/JNrRMS4X9ew" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen).video__iframe
				.block__wrap.review
					h2.block__title Отзывы
					.review__block
						.review__title.clearfix
							img(src="image/review.png" alt="").review__img
							.review__cite
								p.review__name Ларина Светлана
								p.info__about Садовод любитель
								p.info__about Стаж 2 года
						.review__text
							span.review__quote «
							| Кстати, насчет кротов, был случай: крот проделал ход под сараем. Откопали нору, направили туда отпугиватель. За неделю крот ушел незнамо куда. На улице такие эксперименты не проводила. 
							span.review__quote »
					a(href="#").info__all Посмотреть все отзывы
				.block__wrap.subscribe
					h2.block__title Подписаться
					form(action="#").subscribe__form
						p.info__about Подпишитесь на рассылку, чтобы первыми узнавать о наших новинках и получать призы
						input(type="email" placeholder="*Эл. почта" required).subscribe__input
						input(type="text" placeholder="Имя").subscribe__input
						input(type="submit" value="Подписаться").subscribe__btn
					p.info__about Заполните 
						a(href="#").info__all анкету
						|  и получайте индивидуальные предложения!
		include footer





		script(src="js/jquery-3.3.1.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/common.js")